{% extends 'navbar.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block link %}
	<!-- <script src="{% static 'js/hw.js' %}?version=2"></script> -->
    <link href="{% static 'styles/style_hw.css' %}?version=83" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script>
		const mainFunc = async function() {
			let sel = document.getElementById("sel");
			let numDict;
			let cur = "{{cur_num}}";
			if (!cur) {
				changeType(sel);
				return NaN;
			}
			await fetch('/api/get_book_number_dict/{{book.id}}', {
				method: "GET",
			}).then(response => response.json())
			.then(response => numDict = response);
			for (let k in numDict) {
				for (let i in numDict[k]) {
					if (k + numDict[k][i] == cur) {
						sel.value = k;
						await changeType(sel);
						curDiv = document.getElementsByClassName("Current")[0];
						curDiv.scrollIntoView();
						return NaN;
					}
				}
			}
		}
		async function changeType(sel) {
			let maindiv = document.getElementsByClassName('HW_BookTasks')[0];
			let type = sel.value;
			let cur = "{{cur_num}}"
			let numbers;
			maindiv.innerHTML = ""
			await fetch('/api/get_book_number_dict/{{book.id}}', {
				method: "GET",
			}).then(response => response.json())
			.then(response => numbers = response[type])
			numbers.forEach(number => {
				valnumber = type + number
				div = document.createElement('DIV');
				if (type + number == cur) {
					div.className = 'Current HW_BookTasks_Number';
				}
				else {
					div.className = 'HW_BookTasks_Number';
				}
				a = document.createElement('A');
				a.className = 'usual';
				a.href = "/homework/redirect_hw/" + valnumber + "/{{request.path}}";
				a.innerHTML = number;
				a.style.color = "black";
				div.appendChild(a);;
				maindiv.appendChild(div);
			})
		}
	</script>
{% endblock %}

{% block content %}
<div style="position: sticky; top: 50px; height: 50px; z-index: 100000;">
	<div class="HW_Sorting usual_nav">
		<div>
			<a href="/homework/redirect_sort/pop/{{request.path}}" style="width: 100%; background: #7070b5;">
				<div style="height: 50px">
					{% if sort == 'pop' %}
					<p class="usual" align="center" style="text-align: center; margin-top: 14.5px; display: block; color: #46D960; font-size: 18px; line-height: 21px">Самые популярные</p>
					{% else %}
					<p class="usual" align="center" style="text-align: center; margin-top: 14.5px; display: block; color: #EEF0ED; font-size: 18px; line-height: 21px">Самые популярные</p>
					{% endif %}
				</div>
			</a>
		</div>
		<div style="background: black">
		</div>
		<div>
			<a href="/homework/redirect_sort/new/{{request.path}}" style="width: 100%; background: #7070b5;">
				<div style="height: 50px">
					{% if sort == 'new' %}
					<p class="usual" align="center" style="text-align: center; margin-top: 14.5px; display: block; color: #46D960; font-size: 18px; line-height: 21px">Самые новые</p>
					{% else %}
					<p class="usual" align="center" style="text-align: center; margin-top: 14.5px; display: block; color: #EEF0ED; font-size: 18px; line-height: 21px">Самые новые</p>
					{% endif %}
				</div>
			</a>
		</div>
	</div>
	<div class="HW_List usual_nav">
			<div class="HW_BookProfile">
				<img src="{{book.image.url}}" class="HW_BookProfile_Preview" height="300px" width="200px">
			</div>
			<div class="HW_ChoosingTask" style="text-align: center; margin-bottom: 20px; ">
				<p class="usual" style="color: black">Тип заданий</p>
				<select size="1" id="sel" style="width: 200px" onchange="changeType(this)">
					{% for val, op in book.types %}
					<option value="{{val}}">{{op}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="HW_BookTasks">
			</div>
	</div>
</div>
<div class="HW_Preview_List">
{% include "hw.html" %}
</div>
<h1 class="Error" align="center">СМЕНИ ТЕЛЕФОН</h1>
{% endblock %}

{% block onload %}
HWMain();
mainFunc();
{% endblock %}