{% extends 'navbar.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block link %}
	<script src="{% static 'js/hw.js' %}"></script>
    <link href="{% static 'styles/style_hw.css' %}?version=75" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% endblock %}

{% block content %}
<div style="position: sticky; top: 60px; height: 50px; z-index: 100000;">
	<div class="HW_Sorting usual_nav">
		<div >
			<a href="#" style="width: 100%; background: #7070b5;">
				<div style="height: 50px">
					<p class="usual" align="center" style="text-align: center; margin-top: 14.5px; display: block; color: #EEF0ED">Самые популярные</p>
				</div>
			</a>
		</div>
		<div style="background: black">
		</div>
		<div>
			<a href="#" style="width: 100%; background: #7070b5;">
				<div style="height: 50px">
					<p class="usual" align="center" style="text-align: center; margin-top: 14.5px; display: block; color: #EEF0ED">Самые новые</p>
				</div>
			</a>
		</div>
	</div>
	<div class="HW_List usual_nav">
			<div class="HW_BookProfile">
				<img src="{% static image %}" class="HW_BookProfile_Preview" height="300px" width="200px">
			</div>
			<div class="HW_BookTasks">
				{% for number in book %}
				{% if cur_num and number == cur_num %}
					<div class="Current HW_BookTasks_Number">
						<a href="/homework/redirect_hw/{{number}}/{{request.path}}" class="usual">{{number}}</a>
					</div>
				{% else %}
					<div class="HW_BookTasks_Number">
						<a href="/homework/redirect_hw/{{number}}/{{request.path}}" class="usual">{{number}}</a>
					</div>
				{% endif %}
				{% endfor %}
			</div>
	</div>
</div>
<div class="HW_Preview_List" style="width: calc(100% - 470px); position: absolute">
{% include "hw.html" %}
</div>

{% endblock %}