{% extends 'navbar.html' %}
{% load static %}

{% block title %}{{class}} Класс {% endblock %}

{% block link %}
	<link href="{% static 'styles/style_class.css' %}?version=15" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% endblock %}

{% block content %}
<p align="center" class="usual48px">Предметы {{grade}} класса</p>
<div class="Content">
	<div class="HW_Choosing_Lesson">
		<div class="HW_Choosing_Lesson_Grid">
			{% for subject in grade.subjects.all %}
			<div class="usual" style="font-size: 18px" id="{{subject.name}}">
				<button onclick="ScrollToSubject(this)" name="{{subject.name}}" style="color: inherit; background-color: transparent;border: none;">
					{{subject.full_name}}
				</button>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="HW_Choosing_Book">
		{% for subject in grade.subjects.all %}
		<div class="HW_Choosing_Book_Item" style="align-items: center; width: 450px" id="{{subject.name}}Div">
			<div class="HW_Choosing_Book_Item_Name">
				<p class="usual" style="margin-top: 11px; position: relative" >{{subject.full_name}}</p>
			</div>
			<div class="HW_Choosing_Book_Item_Content">
				<div class="HW_Choosing_Book_Item_Content_Grid">
					{% for book in subject.books.all %}
					<div class="HW_Choosing_Book_Item_Content_Grid_Book" id="{{book}}">
						<a href="{{request.path|add:subject.name|add:'/'|add:book.slug}}">
						<img src="{{book.image.url}}" width="90px" height="120px">
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	function ScrollToSubject(btn) {
		let subjectDiv = document.getElementById(btn.name+'Div');
		subjectDiv.scrollIntoView();
	}
</script>
{% endblock %}