{% extends 'navbar.html' %} 
{% load static %}

{% block title %} Main Page {% endblock %}

{% block link %}
    <script src="{% static 'js/hw.js' %}"></script>
    <link href="{% static 'styles/style_hw.css' %}?version=42" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% endblock %}
{% block content %}
    {% for homework in homeworks %}
    <div class = "Homework_show">
        <div class="Homework_profile">
            <img src="{{homework.publisher_profile.photo.url}}" height="50px" width="50px" style="float: left;border-radius: 25px;position: absolute;left: 5px;margin: 5px 0px">
            <p style="float: left; margin-left: 10px; margin: 19.5px 0px; left: 70px; position: absolute" class="usual">{{homework.publisher.username}}</p>
            <p class="usual" style="right: 3%; float: right; margin: 19.5px 0px; position: absolute">{{homework.uploaded}}</p>
        </div>
        <div class="Homework_img">
            <p align="center" style="margin: 0px!important;">
                {% for image in homework.images.all %}
                <img src="{{image.image.url}}" width="100%" style="text-align: center">
                {% endfor %}
            </p>
        </div>
        <div class="Homework_buttons" id="hw_buttons{{homework.id}}" data-hwid="{{homework.id}}">
            <div class="Homework_like">
                <button id="like_button" onclick="likeHW(this)" type="button" data-hwid="{{homework.id}}" style="border: 0; background: transparent; width: 54px; padding: 0px">
                    <img src="{% static 'images/like_btn.png' %}" class="like_img" height="60px" style="float: left; margin-left: ">
                </button>
                <p class="Homework_like_count usual" id="like_count{{homework.id}}" style="margin-left: 15px">{{ homework.likes.count }}</p>
            </div>
            <div class="Homework_dislike">
                <button id="dislike_button" onclick="dislikeHW(this)" type="button" data-hwid="{{homework.id}}" style="border: 0; background: transparent; width: 54px; padding: 0px">
                    <img src="{% static 'images/dislike_btn.png' %}" class="dislike_img" height="60px" style="float: left;">
                </button>
                <p class="Homework_dislike_count usual" id="dislike_count{{homework.id}}" style="margin-left: 15px">{{homework.dislikes.count }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block script %}
<script>
window.onload = function() {
    var hwButtons = document.getElementsByClassName("Homework_buttons");
    var imageGrids = document.getElementsByClassName('Homework_img');

    for (let btns of hwButtons) {
        let hwid = $(btns).attr("data-hwid");
        let imgLike = $(btns).find('.like_img');
        let imgDislike = $(btns).find('.dislike_img');
        $.ajax({
            type: "GET",
            url: "{% url 'get_opinion' %}",
            dataType: "JSON",
            data: {homework_id: hwid},
            success: function(json) {
                if (json.liked) {
                    $(imgLike).attr("src", "{% static 'images/like_btn_liked.png' %}")
                }
                else {
                    $(imgLike).attr("src", "{% static 'images/like_btn.png' %}")
                }
                if (json.disliked) {
                    $(imgDislike).attr("src", "{% static 'images/dislike_btn_disliked.png' %}")
                }
                else {
                    $(imgDislike).attr("src", "{% static 'images/dislike_btn.png' %}")
                }
            }
        })
    }
}

function getImagesWidth (images) {
    return images[0].width / images.length;
}

function likeHW (btn) {
    var hwid = $(btn).attr("data-hwid");
    var div = $('#hw_buttons'+hwid);
    $.ajax({
        type: "GET",
        url: "{% url 'like_hw' %}",
        dataType: "JSON",
        data: {homework_id: hwid},
        success: function(json) {
            div.find('.Homework_like_count').html(json.likes);
            div.find('.Homework_dislike_count').html(json.dislikes);
            var imgLike = div.find('.like_img');
            var imgDislike = div.find('.dislike_img');
            if (json.liked) {
                $(imgLike).attr("src", "{% static 'images/like_btn_liked.png' %}");
                if (json.undisliked) {
                    $(imgDislike).attr("src", "{% static 'images/dislike_btn.png' %}");
                }
            }
            else {
                $(imgLike).attr("src", "{% static 'images/like_btn.png' %}");
            }
        }
    })
}
function dislikeHW (btn) {
    var hwid = $(btn).attr("data-hwid");
    var div = $('#hw_buttons'+hwid);
    $.ajax({
        type: "GET",
        url: "{% url 'dislike_hw' %}",
        dataType: "JSON",
        data: {homework_id: hwid},
        success: function(json) {
            div.find('.Homework_like_count').html(json.likes);
            div.find('.Homework_dislike_count').html(json.dislikes);
            var imgLike = div.find('.like_img');
            var imgDislike = div.find('.dislike_img');
            if (json.disliked) {
                $(imgDislike).attr("src", "{% static 'images/dislike_btn_disliked.png' %}");
                if (json.unliked) {
                    $(imgLike).attr("src", "{% static 'images/like_btn.png' %}");
                }
            }
            else {
                $(imgDislike).attr("src", "{% static 'images/dislike_btn.png' %}");
            }
        }
    })
}
</script>
{% endblock %}