{% extends 'navbar.html' %}
{% load static %}

{% block title %}{{class}} Главная страница {% endblock %}

{% block link %}
<link href="{% static 'styles/main.css' %}?version=14" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% endblock %}

{% block content %}
<div class="content">
	<div class="header">
		<div class="header_button_area" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.82) 0.01%, rgba(255, 255, 255, 0.54) 0.02%, rgba(255, 255, 255, 0) 19.79%), url(notebook-731212_1920.jpg);">
			<div class="header_button_area_button">
				<div class="header_button_area_button_HW">
					<a href="#">
						<div class="header_button_area_button_HW_Link">
							<p class="usual" style="margin-top: 36px">Домашнее задание</p>
						</div>
					</a>
				</div>
				<div class="Stick"></div>
				<div class="header_button_area_button_LK">
					<a href="#">
						<div class="header_button_area_button_LK_Link">
							<p class="usual" style="margin-top: 36px">Личный кабинет</p>
						</div>
					</a>
				</div>
				<div class="Stick"></div>
				<div class="header_button_area_button_FS">
					<a href="#">
						<div class="header_button_area_button_LK_Link">
							<p class="usual" style="margin-top: 36px">Быстрый поиск</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="HW_LastUsers" style="background: #C4C4C4">
			<div class="HW_LastUsers_Item">
			<img src="#" width="150px" height="150px" style="background: black">
			</div>
		</div>
	</div>
	<div class="main_content">
		<p class="usual" style="margin-top: 50px; font-size: 64px; line-height: 75px; color: black!important" align="center">Последние новости</p>
		<div class="news_block">
			<div class="news_block_grid">
				<div class="news_block_avatar">
					<img src="#" width="75px" height="75px">
				</div>
				<div class="news_block_name">

				</div>
				<div class="news_block_content"></div>
			</div>
		</div>
		<div class="donate"></div>
	</div>
	<div class="footer">
		<a class="usual" href="#" style="left: 50px; position: absolute; margin-top: 11px">О сайте</a>
		<div class="last_update">
		<p class="usual" style="margin-bottom: 0px">Последние обновление: Февраль 2020</p>
		</div>
	</div>

</div>
{% endblock %}