{% load static %}
    <div class ="upload_upload">
        <div class="go_back" style="margin-top: 10px; margin-left: 10px">
            <a href="#" style="width: 30px; height: 30px; position: absolute">
            <img id="go_back_img" src="{% static 'images/go_back.png' %}" alt="ГРУЗИСЬ БЛЯТЬ">
            </a>
        </div>
        <form id="post-form" enctype="multipart/form-data" method="post" style="margin-top: 30px; position: absolute">
            {% csrf_token %}
            <div class="div_input" id="div_input_grade">
                <select name="grade" id="grade_select" class="input_hw">
                    <option hidden disabled selected value="not chosen">-- Выберите класс --</option>
                    <option value="http://127.0.0.1:8000/api/grades/2/">10</option>
                </select>
            </div>
            <div class="div_input invis" id="div_input_subject">
                <select name="subject" id="subject_select" class="input_hw">
                    <option hidden disabled selected value="not chosen">-- Выберите предмет --</option>
                </select>
            </div>
            <div class="div_input invis" id="div_input_book">
                <select name="book" id="book_select" class="input_hw">
                    <option hidden disabled selected value="not chosen">-- Выберите книгу --</option>
                </select>
            </div>
            <div class="div_input invis" id="div_input_number">
                <select name="number" id="number_select" class="input_hw">
                    <option hidden disabled selected value="not chosen">-- Выберите номер --</option>
                </select>
            </div>
            <div class="div_input invis" id="file_input">
                <div id="uploads"></div>
                <div class="dropzone" id="dropzone">Перетащите файлы</div>
            </div>
            <div class="upload_btn invis" id="upload_btn">
                <button type="submit" value="upload_hw" class="upload-button">Выложить</button>
            </div>
        </form>
    </div>