{% load static %}
    <div class ="upload_upload">
        <div class="go_back" style="margin-top: 10px; margin-left: 10px">
            <img id="go_back_img" src="{% static 'images/go_back.png' %}" alt="ГРУЗИСЬ БЛЯТЬ">
            <a href="#" style="color: black!important;">
            <i class="far fa-times-circle" style="font-size: 30px; right: 10px; position: absolute"></i>
            </a>
        </div>
        <form id="post-form" enctype="multipart/form-data" method="post" style="position: absolute; width: 100%; height: calc(100% - 40px);">
            <div class="div_input" id="div_input_grade">
                <select name="grade" id="grade_select" class="input_hw">
                    <option hidden disabled selected value="not chosen">-- Выберите класс --</option>
                    <option value="/api/grades/2/">10</option>
                </select>
            </div>
            <div class="div_input invis" id="div_input_subject">
                <select name="subject" id="subject_select" class="input_hw">
                    <option hidden disabled selected value="not chosen">-- Выберите предмет --</option>
                </select>
            </div>
            <div class="div_input invis" id="div_input_book">
                <select name="book" id="book_select" class="input_hw">
                    <option hidden disabled selected value="not chosen">-- Выберите книгу --</option>
                </select>
            </div>
            <div class="div_input invis" id="div_input_number">
                <select name="number" id="number_select" class="input_hw">
                    <option hidden disabled selected value="not chosen">-- Выберите номер --</option>
                </select>
            </div>
            <div class="div_input invis" id="file_input">
                <div id="uploads"></div>
                <div class="dropzone" id="dropzone" style="margin-left: 5px;">Перетащите файлы</div>
            </div>
            <div class="upload_btn invis" id="upload_btn">
                <button type="submit" value="upload_hw" class="upload-button usual">Выложить</button>
            </div>
        </form>
        <form class="invis" id="upload_form">
            {% csrf_token %}
        </form>
    </div>