.usual {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.04em;
    color: black;
}
body {
    overflow-y: hidden;
    min-width: 970px;
}