.Homework_show {
    position: relative;
    left: calc((100% - 500px) / 2);
    width: 500px;
    margin-bottom: 15px;
    font-family: sans-serif;
    border-radius: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.Homework_profile{
    height: 60px;
    border-bottom: 1px solid #000000;
}

.Homework_buttons {
    height: 70px;
    border-top: 1px solid #000000;
    padding: 0px;
    font-size: 20px;
    align-items: center;
}
.Homework_buttons img{
    margin: 5px 0px;
}
.Homework_buttons p{
    margin: 24.5px 0px;
}
.Homework_dislike {
    float: left;
    display: flex;
    align-items: center;
    width: 155px;
}
.Homework_like {
    float: left;
    display: flex;
    align-items: center;
    width: 155px;
}
.Homework_comment {
    float: right;
    display: flex;
    align-items: center;
}
button:focus {
    outline: none !important
}

.Homework_img{
    align-items: center;
    margin:0px;
}
.HW_List {
    width: 470px;
    height: 600px;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 0px 30px;
    background-color: #C4C4C4;
}
.HW_BookProfile {
    width: 470px;
    height: 315px;
    align-items: center;
    text-align: center;
}
.HW_BookProfile_Preview{
    background-color: black;
    right: auto;
    left: auto;
}
.HW_BookTasks {
    width: 456px;
    height: 270px;
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 5px;
    margin-left: 7px;
    margin-right: 7px;
    overflow-y: scroll;
}
.HW_BookTasks_Number {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: #e5e5e5;
    color: black!important;
    text-align: center;
    right: auto;
    left: auto;
}

.Current {
    background-color: #7070b5;
}

.HW_BookTasks_Number a{
    font-size: 13px!important;
    line-height: 15px!important;
    text-align: center!important;
    margin-top: 2.5px!important;
    margin-bottom: 2.5px!important;
    display: block!important;
}
.HW_Sorting {
    width: calc(100% - 470px);
    height: 50px;
    background: #7070b5;
    display: grid;
    grid-template-columns: calc(50% - 1px) 2px calc(50% - 1px);
    grid-template-rows: 50px;
    position: absolute;
}
.HW_Preview_List{
    width: calc(100% - 470px);
    min-width: 500px;
}
.Error {
    display: none;
}
@media screen and (max-width: 985px){
    .HW_List {
        display: none;
    }
    .HW_Sorting {
        width: 100%;
    }
    .HW_Preview_List {
        width: 100%;
    }
}
@media screen and (max-width: 502px){
    .HW_List {
        display: none;
    }
    .HW_Sorting {
        width: 100%;
    }
    .HW_Preview_List {
        display: none;
    }
    .Error {
        display: block;
    }
}
.HW_delete_frame {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    visibility: hidden;
    z-index: 1000000;
}
.delete_window {
    text-align: center;
    width: 600px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 3px solid black;
    background: white;
    overflow-y: auto;
}
#HW_delete{
    border-color: transparent;
    background: none;
    position: absolute;
    margin-top: 14px;
    margin-left: 345px;
}