.invis {
	visibility: hidden;
}

#go_back_img {
	width: 30px;
	transform: rotate(90deg);
}

.dropzone {
	width: 300px;
	height: 300px;
	border: 2px dashed #ccc;
	color: #ccc;
	line-height: 300px;
	text-align: center;
}

.dropzone.dragover {
	border-color: #000;
	color: #000;
}
.input_hw{
	width: 300px;
}
.div_input {
	margin-left: 47px;
}
.upload-button{
	width: 100px;
}
.upload_btn{
	margin-left: 147px;
}
.autocomplete-items-navbar_search{

}