{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HWHUB 403</title>
    <link type="text/css" href="{% static 'styles/403page_style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<a href="./" style="position: fixed; margin-left: calc((100vw - 219px) / 2)">Вернуться на главную страницу</a>
<p style="width: 36vw; position: fixed; margin-top: 65vh; margin-left: 3vw; font-size: 60px; line-height: 65px; margin-bottom: 0" class="usual">Выполнять это действие</p>
<p class="usual" style="font-size: 300px; line-height: 350px; margin: 0" align="center">403</p>
<img src="{% static 'images/403img.jpg' %}" style="width: 100%; height: calc(100vh - 370px); ">
</body>
</html>