{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HWHUB 500</title>
    <link href="{% static 'styles/500page_style.css' %}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<img src="{% static 'images/500page.jpg' %}" style="width: 40vw; margin-left: 30vw;">
<p class="usual" style="font-size: 100px; line-height: 120px" align="center">500</p>
<p class="usual" style="font-size: 80px; line-height: 96px" align="center">Ошибка сервера</p>
<p class="usual" align="center"  title="Не исправит">Админ исправит эту ошибку</p>
<p class="usual" align="center" title="Никогда">Когда-нибудь</p>
<a href="/" class="usual">
    <p align="center">Вернуться на главную страницу</p>
</a>


</body>
</html>