{% extends 'navbar.html' %}
{% load static %}

{% block title %}{{class}} Главная страница {% endblock %}

{% block link %}
<link href="{% static 'styles/main.css' %}?version=32" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% endblock %}

{% block content %}
<div class="content">
	<div class="header">
		<div class="header_button_area" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.82) 0.01%, rgba(255, 255, 255, 0.54) 0.02%, rgba(255, 255, 255, 0) 19.79%), url({% static 'images/header.jpg' %});">
			<div class="header_button_area_button">
				<div class="header_button_area_button_HW">
						<div class="header_button_area_button_HW_Link">
							<p class="usual" style="margin-top: 36px">Домашнее задание</p>
						</div>
					<div class="submenu">
						{% for class in classes %}
						<div class="header_button_area_button_HW_submenu_grade"><a class="usual" href="/homework/{{class}}">{{class}} класс</a></div>
						{% endfor %}
					</div>
				</div>
				<div class="Stick"></div>
				<div class="header_button_area_button_LK">
					<a href="id{{request.user.id}}">
						<div class="header_button_area_button_LK_Link">
							<p class="usual" style="margin-top: 36px">Личный кабинет</p>
						</div>
					</a>
				</div>
				<div class="Stick"></div>
				<div class="header_button_area_button_FS">
						<div class="header_button_area_button_FS_Link">
							<p class="usual" style="margin-top: 36px">Быстрый поиск</p>
						</div>
					<div class="submenu">
						<div class="FastSearch_Form" style="margin-top: 20px">
							<input class="FastSearch_Form_Form usual" type="text" id="search"
							autocomplete="off">
						</div>
						<div class="FastSearch_button">
							<input id="submit_btn" class="FastSearch_button_button usual disabled" type="submit" value="Поиск" disabled="True">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="HW_LastUsers" style="background: #C4C4C4">
			{% for user in last_users %}
			<div class="HW_LastUsers_Item">
			<a href="{% url 'profile' user.id %}">
			<img src="{{ user.profile.photo.url }}" width="150px" height="150px" style="background: black">
			</a>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="main_content">
		<p class="usual" style="margin-top: 50px; font-size: 64px; line-height: 75px; color: black!important" align="center">Последние новости</p>
		<div class="news_block">
			{% for new in last_news %}
			<div class="news_block_grid">
				<div class="news_block_avatar">
					<img src="{{new.publisher.profile.photo.url}}" width="75px" height="75px">
				</div>
				<div class="news_block_name">
					<div class="news_block_name_content usual" style="color: black!important;">
						{{new.summary}}
					</div>
				</div>
				<div class="news_block_content">
					<div class="news_block_content_content usual" style="color: black!important;">
						{{new.description}}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="donate"></div>
	</div>
	<div class="footer">
		<a class="usual" href="#" style="left: 50px; position: absolute; margin-top: 11px">О сайте</a>
		<div class="last_update">
		<p class="usual" style="margin-bottom: 0px">Последние обновление: Февраль 2020</p>
		</div>
	</div>

</div>
{% endblock %}

{% block onload %}
		autocomplete("search", "submit_btn");
{% endblock %}