<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>{% block title %} header {% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{% static 'styles/style_nav.css' %}?version=3" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}?version=1">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	{% block link %} {% endblock %}
	{% block script %} {% endblock %}
</head>
<body>
	<div style="height: 60px; position: sticky; top: 0px; z-index: 100000">
		<nav style="height: 60px" class="navbar navbar-expand-lg navbar-light bg-light">
			<p style="margin-left: auto; margin-right: auto;margin-top: auto; margin-bottom: auto;" align="center"><a class="hw-link"  href="#">Домашняя РАБота</a></p>

			<div class="profile">
				{% if user.is_authenticated %}
				<p style="">
					<a class="nav-link" href="{% url 'profile' id_=user.id %}">{{user.username}}</a>
				</p>
				<img src="{{profile.photo.url}}" alt="Блять не загузилось!!!" width="50px" height="50px">
				{% else %}
				<p>2-582p-58p3589pwertikspogis</p>
				{% endif %}
			</div>
		</nav>
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>