.login {
	margin:auto;
	padding: 10px;
}
input.register_input {
	height: 25px;
	width: 250px;
	position: relative;
	left: 40%;
}
label.control-label{
	position: relative;
	left: 40%;
}
select.register_input {
	width: 250px;
	position: relative;
	left: 40%;
}
.register-button {
	position: relative;
	left: 40%;
}
body {
	background-color: lightcyan;
}