{% extends 'navbar.html' %}

{% load static %}
{% block title %} Личный кабинет {% endblock %}
{% block link %}
	<link rel="stylesheet" href="{% static 'styles/style_profile.css' %}?version=4">
{% endblock %}

{% block content %}
	<div class="show_profile">
		<div class="profile_image">
			<img src="{{profile.photo.url}}" alt="Блять не загузилось!!!" height="420px" width="350px">
		</div>
		<div class="profile_info">
			<p style="font-size: 60px; font-weight: bold;">{{page_user.username}}</p>
			<p style="font-size: 48px; color: #444444;">
				{% if profile.name and profile.surname %}
				{{profile.name}} {{profile.surname}}
				{% endif %}
			</p>
			<p style="font-size: 48px; color: #444444;">
				{% if profile.grade %}
				Класс: {{profile.grade}}
				{% else %}
				Класс: *не указан*
				{% endif %}
			</p>
			<div class="profile_info_hwcounter">
				<hr width="100%" style="bottom: 0">
				<p style="font-size: 48px; float:top" align="center">{{homeworks.count}}</p>
				<p style="font-size: 30px; float:top; color:#49a48e" align="center">Домашних заданий</p>
			</div>
		</div>
		{% if user.id == page_user.id %}
		<div class="profile_logout">
			<a href="/logout" style="right: 10%; top: 0;font-size: 30px; position: absolute; text-decoration: none!important;">Выйти</a>
		</div>
		{% endif %}
	</div>
	<div class="profile_show_homework">
		<p align="center" style="font-size: 48px; background: rgb(1,0,255); background: linear-gradient(90deg, #92bbff 0%, #97faa7 100%); width: 30%; margin-right: auto; margin-left: auto; font-weight: bold;">Домашние задания</p>
	</div>
{% endblock %}