<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link href="{% static 'styles/style_log.css' %}?version=0" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Вход в HWhub</title>
</head>
<body>
    <h1 style="font-size: 100px" align="center">Вход в аккаунт</h1>
    <div class="login">
        {% if form.errors %}
        <p class = "warning">Something is wrong</p>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{form|crispy}}
            <p><button type="submit" class ="login-button">Войти</button></p>
        </form>
    </div>
</body>
</html>
