<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="../../static/styles/style.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Вход в HWhub</title>
</head>
<body>
    <h1 style="font-size: 100px">Вход в аккаунт</h1>
    {% if form.errors %}
    <p>Something is wrong</p>
    {% endif %}
    
    <div class="login">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{form|crispy}}
            <p><button type="submit" id="Butt_LogIn">Залогиниться</button></p>
        </form>
    </div>
</body>
</html>
