<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link href="{% static 'maths/style.css' %}?version=1" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Выложить домашку</title>
</head>
<body>
    <h1 style="font-size: 100px" align="center">Математика</h1>
    <div class ="upload">
        <form enctype="multipart/form-data" method="post" action="{% url 'upload' %}">
            {% csrf_token %}

            {% load crispy_forms_tags %}

            {% if form.errors %}
            <p class="warning">Something went wrong</p>
            {% endif %}

            {% if number_error %}
            <p class="warning">number does not exist</p>
            {% endif %}
            
            {{ form|crispy }}
            <p><button type="submit" value="upload_hw" class="upload-button">Выложить</button></p>
        </form>
    </div>
</body>
</html>